<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    </meta>
    <title>Flask Test</title>
</head>

<body>
    <h1>render_template関数</h1>
    <div>
        <p>{{message}}</p>
    </div>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="text" id="name" name="name" placeholder="名前">
        <input type="number" id="age" name="age" placeholder="年齢">
        <input class="submit-button" value="実行する" type="submit">
    </form>
</body>

</html>